body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
}
.A {
    display: flex;
    justify-content: center;
    position: relative;
}
.a {
    margin: 0 107px 0 0;
    height: 750px;
    width: 400px;
    background-color: aqua;
}
.b {
    margin: 0 0 0 107px;
    height: 750px;
    width: 400px;
    background-color: aqua;
}
